<html>
<head>
<title>Accounts</title>
<link type="text/css" href="/resources/css/materialize.min.css"	rel="stylesheet" />
<script src="/resources/jquery-2.1.1.min.js"></script>
</head>

<body>

	{% include 'navbar.twig' %}

	<div>
		<h3 class="center-align">Accounts List</h3>
	</div>
	<div class="container">
		<div class="row">			
			<table class="hoverable centered">
				<thead>
					<tr>
						<th data-field="number">Number</th>
						<th data-field="balance">Balance</th>
					</tr>
				</thead>
		
				</tbody>
				{% for account in accounts %}
				<tr>
					<td>{{ account.number }}
					<td>
					<td>{{ account.balance}}
					<td>
				<tr>{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% include 'footer.twig' %}

</body>
</html>

