<html>
<head>
<title>Accounts</title>
<link type="text/css" href="/resources/css/materialize.min.css"
	rel="stylesheet" />
</head>

<body>

	{% include 'navbar.twig' %}
	<div>
		<h3 class="center-align">Banks List</h3>
	</div>

	<div class="container">
		<div class="row">

			<table class="hoverable centered">
				<thead>
					<tr>
						<th data-field="number">Number</th>
						<th data-field="balance">Balance</th>
					</tr>
				</thead>

				</tbody>
				{% for bank in banks %}
				<tr>
					<td>{{ bank.code }}
					<td>
					<td>{{ bank.name}}
					<td>
				<tr>{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
		{% include 'footer.twig' %}
</body>
</html>

