<!-- Dropdown Structure -->
<!-- <ul id="dropdownOperation" class="dropdown-content">
  <li><a href="#">Transaction</a></li>
  <li><a href="#">Deposit</a></li>
  <li><a href="#">Withdrawal</a></li>  
</ul>
-->
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/banks_list">Banks</a></li>
        <li><a href="">Clients</a></li>
        <li><a href="/accounts_list">Accounts</a></li>
        
        <!-- Operations -->
        <!-- <li><a class="dropdown-button" href="#" data-activates="dropdownOperation">Operations<i class="mdi-navigation-arrow-drop-down right"></i></a></li> -->
        <li><a href="/transference">Transference</a></li>
      </ul>
    </div>
  </nav>
  <script>
  <!--$( document ).ready(function() {
	  $(".dropdown-button").dropdown();
	});-->  	
  </script>
