<html>
<head>
<title>Operation</title>
<link type="text/css" href="/resources/css/materialize.min.css"
	rel="stylesheet" />
</head>
<body>
	{% include 'navbar.twig' %} 
	{% if result %}
		<div>
			<h3 class="center-align">{{ result }}</h1>
		</div>
	{% endif %}
	{% include 'footer.twig' %}
</body>
</html>