<html>
<head>
<title>Operation</title>
<link type="text/css" href="/resources/css/materialize.min.css"
	rel="stylesheet" />
</head>
<body>
	{% include 'navbar.twig' %}

	<div>
	<h3 class="center-align">Transference</h1>
	</div>
	<div class="container">
		<div class="row">
			<form method="POST" action="/transference_submit" method="GET"
				class="col s12">
				<div class="row">
					<div class="input-field col s4">
						<input placeholder="Source Account" id="source" name="source"
							type="text" class="validate">
					</div>
					<div class="input-field col s4">
						<input placeholder="Target Account" id="target" name="target"
							type="text" class="validate">
					</div>
					<div class="input-field col s2">
						<input placeholder="Amount" id="amount" name="amount" type="text"
							class="validate">
					</div>
					<div class="input-field col s2">
						<button class="btn waves-effect waves-light" type="submit"
							name="action">
							Submit <i class="mdi-content-send right"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	{% include 'footer.twig' %}
</body>
</html>